<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Records Page</title>
</head>

<body>
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link active" href="#!">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Longer nav link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Link</a>
        </li>
    </ul>
    <form>
        <div class="form-group"><!-- I will use the farmer's database-->
            <label for="farmername">Farmer's Name</label>
            <input type="text" class="form-control" id="farmername" placeholder="Enter the Farmer's Name">
        </div>
        <div class="form-group"> <!--I will use the database for uganda's area codes but I'll try to make it zero down to their viilage-->
            <label for="farmervillage">Farmer's Village</label>
            <input type="search" class="form-control" id="farmervillage" placeholder="Select the Farmer's Village">
        </div>
    </form>



</body>

</html>