<!doctype html>
<html lang="en">

<head>
    <title> Records Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
    <header>
        <!-- place navbar here -->

    </header>
    <main>

        <div class="mb-3">
            <div class="card text-start">
                <div class="card-body">
                    <form action="" method="post">
                        <h4 class="card-title"> Enter the available Stock</h4>
                        <label for="chicks_no" class="form-label">Chicks Category</label>
                        <select class="form-control" name="chicks_no" id="chicks_no">
                            <option selected>Select one</option>
                            <option value="1">Broilers-Exotic</option>
                            <option value="2">Broilers-Local</option>
                            <option value="3">Layers-Exotic</option>
                            <option value="4">Layers-Local</option>
                        </select>
                        <label for="chicks_no" class="form-label"> Number of chicks </label>
                        <input type="text" name="chicks_no" id="chicks_no" class="form-control" placeholder="e.g. 100">
                        <label for="chicks_no" class="form-label">Chicks Category</label>
                        <select class="form-control" name="chicks_no" id="chicks_no">
                            <option selected>Select one</option>
                            <option value="1">Broilers-Exotic</option>
                            <option value="2">Broilers-Local</option>
                            <option value="3">Layers-Exotic</option>
                            <option value="4">Layers-Local</option>
                        </select>
                        <label for="chicks_no" class="form-label"> Number of chicks </label>
                        <input type="text" name="chicks_no" id="chicks_no" class="form-control" placeholder="e.g. 100">
                        <label for="chicks_no" class="form-label">Chicks Category</label>
                        <select class="form-control" name="chicks_no" id="chicks_no">
                            <option selected>Select one</option>
                            <option value="1">Broilers-Exotic</option>
                            <option value="2">Broilers-Local</option>
                            <option value="3">Layers-Exotic</option>
                            <option value="4">Layers-Local</option>
                        </select>
                        <label for="chicks_no" class="form-label"> Number of chicks </label>
                        <input type="text" name="chicks_no" id="chicks_no" class="form-control" placeholder="e.g. 100">
                        <label for="chicks_no" class="form-label">Chicks Category</label>
                        <select class="form-control" name="chicks_no" id="chicks_no">
                            <option selected>Select one</option>
                            <option value="1">Broilers-Exotic</option>
                            <option value="2">Broilers-Local</option>
                            <option value="3">Layers-Exotic</option>
                            <option value="4">Layers-Local</option>
                        </select>
                        <label for="chicks_no" class="form-label"> Number of chicks </label>
                        <input type="number" name="chicks_no" id="chicks_no" class="form-control"
                            placeholder="e.g. 100">
                        <label for="chicks_no" class="form-label">Date</label>
                        <input type="date" name="date" id="date" class="form-control" placeholder="e.g. 100">
                        <label for="feeds" class="form-label">Number of feed bags</label>
                        <input type="text" name="feeds" id="feeds" class="form-control" placeholder="e.g. 100">
                        <label for="total" class="form-label"> Total number of chicks </label>
                        <input type="number" name="total" id="total" class="form-control" placeholder="e.g. 1000"> <br>
                        <a name="submit" id="submit" class="btn btn-primary" href="#" role="button">Submit</a>
                    </form>
                </div>
            </div>

        </div>



    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>